.App {
  box-sizing: border-box;
  margin: 0;
  background-color: #1B222C
}

a{
  text-decoration: none;
}

p {
  color: white;
}

.nav-bar-container {
  display: flex;
  flex-flow: row nowrap;
}

.splash-page-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.primary-card {
  display: flex;
  align-items: center;
  color:white;
  width: 30vw;
}

.secondary-card {
  display: flex;
  align-items: center;
  color:white;
  margin:0.3em;
  width: 23vw;
  height: 70vh;
}

.splash-big-container {
  display: flex;
  justify-content: center;
}

.card-images {
  margin-bottom:1em;
  height:45.5vh;
  object-fit:cover
}

.landing-image {
  width:99vw;
  height:50vh;
}

.profile-page-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.user-profile-card {
  width:20vw;
  height:100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  color:white;
}

.login-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-page-image {
  width: 60vw;
  height: 50vh;
}

.user-profile-feed {
  display: flex;
  width: 40vw;
  height: 30vh;
}

.user-feed-image {
  max-width:5vw;
  max-height:15vh;
  object-fit: stretch;
}

.user-feed-card {
  display: flex;
  justify-content: center;
  width:40vw;
  height:30vh;
}