.App {
  box-sizing: border-box;
  margin: 0;
  background-color: #212529;
  /* color: white; */
}

a{
  text-decoration: none;
}

p {
  color: white;
}

.nav-bar-container {
  display: flex;
  flex-flow: row nowrap;
}

.splash-page-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.primary-card {
  display: flex;
  align-items: center;
  color:white;
  width: 30vw;
}

.secondary-card {
  display: flex;
  align-items: center;
  color:white;
  margin:0.3em;
  width: 23vw;
  height: 70vh;
}

.splash-big-container {
  display: flex;
  justify-content: center;
}

.card-images {
  margin-bottom:1em;
  height:45.5vh;
  object-fit:cover
}

.landing-image {
  width:99vw;
  height:50vh;
}